In [ ]:
import pandas as pd
import duckdb as db

orders = pd.read_csv('../Dataset/orders (2).csv')

orders.head()

   order_id  order_date  order_quantity
0       859  2023-01-01               4
1       738  2023-01-01               1
2       243  2023-01-02               3
3       307  2023-01-02               1
4        76  2023-01-02               3

In [2]:
promotion = pd.read_csv('../Dataset/promotions (1).csv')

promotion.head()

  promo_id      promo_name  start_date    end_date
0  BF_2023    Black Friday  2023-11-24  2023-11-29
1  NY_2024   New Year Sale  2024-01-01  2024-01-07
2  SB_2024  Summer Blowout  2024-07-15  2024-07-31
3  BF_2024    Black Friday  2024-11-25  2024-11-30
4  NY_2025   New Year Sale  2025-01-01  2025-01-07

In [12]:
df = db.query("""
            select 
                --order_id,
                p.promo_name,
                sum(order_quantity) as quantity
            
            from read_csv_auto('../Dataset/orders (2).csv') o
            left join read_csv_auto('../Dataset/promotions (1).csv') p on o.order_date between p.start_date and p.end_date
            where p.promo_id is not null
            group by 1
            order by 2 desc
              
              
              
              """).to_df()

df

         promo_name  quantity
0    Summer Blowout      89.0
1     New Year Sale      57.0
2      Black Friday      46.0
3  Spring Clearance      39.0